html{
  width: 100%;
  margin: auto;
  text-align: center;
}

div{
  margin: auto;
  text-align: center;
}

.color{
  margin: 10px;
}

#distance{
}

#degree{
}

#rgb{
  margin: auto;
  width: 50%;
  color: white;
  background-color: black;
}